html,body{
    margin: 0;
    padding: 0;
}

body{
    background: #f0f0f0;
}


.chat-box{
    width: 900px;
    height: 550px;
    margin: auto;
    background: #F5F6F7;
    padding: 0;
    border: 1px solid #EBEEF5;
    color: #303133;
    border-radius: 4px;
    margin-top: 50px;
}

.chat-box-top{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #EBEEF5;
    margin: 0;
}

.chat-box-bottom{
    height: calc(100% - 50px);
    display: flex;
}

.chat-box-bottom-left{
    width: calc(100% - 60px);
    height: 100%;
    border-right:1px solid #EBEEF5;
}
.chat-box-bottom-right{
    width: 200px;
    height: 100%;
}

.chat-show-box{
    height: calc(100% - 150px);
    border-bottom: 1px solid #EBEEF5;
    overflow-y: scroll;
}

.chat-show-input{
    height: 150px;
}

.el-textarea__inner{
    background: #F5F6F7;
    height: 145px;
    resize: none;
}
.user-head{
    margin-right: 10px;
    margin-left: 10px;
}
.user-head img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-info{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.user-list-head{
    margin-left: 10px;
    margin-right: 10px;
}
.user-list-head img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.user-list-name{
    margin-top: 5px;
}

.chat-message{
    margin-top: 15px;
    margin-bottom: 15px;
}

.message-content{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.message-user-name{
    color: #cccccc;
    font-size: 16px;
}